body {
    background-color: darkseagreen;
}
h1 {
    text-align: center;
}
.container {
    background-color: peru;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.board {
    background-color: palevioletred;
   
}
.row {
    display: flex;
    flex-direction: row;
    
}
.block {
    border: solid 1px;
    font-size: 20px;
    position: relative;
}
.dice {
    background-color: white;
    width: 300px;
    height: 300px;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}
button {
     align-self: center;
     font-size: 20px;
     padding: 10px 20px;
     box-shadow: 2px 5px;
}
#dice-id {
    align-self: center;
    height: 150px;
    width: 150px;
}
.selector {
    background-color: blue;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.superhero {
    height: 100px;
    width: 100px;
    background-color: white;
    border: solid 1px;
    display: flex;
    align-self: center;
}
#chooseSuperhero {
    color: white;
}
.superhero img {
    height: 50px;
    width: 50px;
    align-self: center;
    margin: auto;
}
#villain {
    bottom: 0;
    right: 0;
}
.rocket{
    bottom: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 50px;
}
.meteor{
    top: 0;
    right: 0;
    position: absolute;
    height: 50px;
    width: 50px;
}